<div *ngIf="isshowfilter && data">
    <search-list [title]="searchTitle" (change)="criteriaChange($event)"></search-list>
</div>
<br />
<div *ngIf="data" class="add-btn-postion">
    <div>
        <ng-container *ngFor="let hdrbtn of hdrbtns">
            <button *ngIf="!hdrbtn.ishide" type="button" class="btn btn-primary" (click)="click(hdrbtn,null)">{{hdrbtn.title}}</button>
        </ng-container>
        <button *ngIf="isExporttoCSV && (data!=null && data.length>0)" type="button" class="btn btn-primary" (click)="exporttoCSV()">Export to Excel</button>
    </div>
</div>

<div>
    <table class="table table-hover table-striped table-sortable" *ngIf='data ; else loadingScreen;'>
        <thead>
            <tr>
                <th *ngFor="let column of columns" [class]="selectedClass(column.variable)"
                    (click)="changeSorting(column.variable)">
                    {{column.display}}
                </th>
                <ng-container *ngFor="let btn of gridbtns">
                    <td *ngIf="!btn.ishide"></td>
                </ng-container>
            </tr>
        </thead>
        <tbody *ngFor="let row of pdata | orderby : convertSorting()">
            <tr>
                <td *ngFor="let column of columns">
                    {{row[column.variable] | format : column.filter}}
                </td>
                <ng-container *ngFor="let btn of gridbtns">
                    <td *ngIf="!btn.ishide">
                        <button type="button" class="btn btn-primary" (click)="click(btn,row)">{{btn.title}}</button>
                    </td>
                </ng-container>
            </tr>
            <tr>
                <td colspan="columns.length">
                    <table>
                        <thead>
                            <tr>
                                <th *ngFor="let detcolumn of detcolumns" [class]="selectedClass(column.variable)">
                                    {{detcolumn.display}}
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let row of row.detTable">
                            <tr>
                                <td *ngFor="let detcolumn of detcolumns">
                                    {{ row[detcolumn.variable] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf='data && data.length==0' class="alert alert-info" role="alert">No record found!</div>
    <ng-template #loadingScreen>
        <div class="alert alert-info" role="alert">
            <md-progress-spinner mode="indeterminate" style="width:50px; height:50px"></md-progress-spinner>loading...
        </div>
    </ng-template>
</div>
<br />
<div *ngIf="data">
    This is Pagination
    <my-pagination (goPage)="goToPage($event)"
                   (goNext)="onNext()"
                   (goPrev)="onPrev()"
                   [pagesToShow]="pagesToShow"
                   [page]="page"
                   [perPage]="limit"
                   [count]="total"
                   [pageSizeOptions]="pageSizeOptions">

    </my-pagination>
</div>
<!--<md-paginator [length]="5"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
</md-paginator>-->
