<form novalidate (ngSubmit)="save(userFrm)" [formGroup]="userFrm">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <!--<input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.code" name="newAttributeCode" />-->
                    <!--<md-input-container>
                        <input mdInput placeholder="State" [mdAutocomplete]="auto" formControlName="State" [(ngModel)]="newAttribute.code">
                    </md-input-container>
                    <md-autocomplete #auto="mdAutocomplete">
                        <md-option *ngFor="let state of filteredStates | async" [value]="state">
                            {{ state }}
                        </md-option>
                    </md-autocomplete>-->
                    <md-input-container>
                        <input mdInput placeholder="Code" [(ngModel)]="newAttribute.code" formControlName="newAttributeCode" [mdAutocomplete]="auto">
                    </md-input-container>
                    <md-autocomplete #auto="mdAutocomplete">
                        <md-option *ngFor="let state of filteredStates | async" [value]="state">
                            {{ state }}
                        </md-option>
                    </md-autocomplete>
                </td>
                <td>
                    <!--<input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName" />-->
                    <md-input-container>
                        <input mdInput placeholder="Name" [(ngModel)]="newAttribute.name" formControlName="newAttributeName">
                    </md-input-container>
                </td>
                <td>
                    <!--<input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice" />-->
                    <md-input-container>
                        <input mdInput placeholder="Price" [(ngModel)]="newAttribute.price" formControlName="newAttributePrice">
                    </md-input-container>
                </td>
                <td>
                    <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                </td>
            </tr>
            <tr *ngFor="let field of fieldArray; let i = index">
                <td>
                    <!--<input [(ngModel)]="field.code" class="form-control" type="text" name="{{field.code}}" />-->
                    {{field.code}}
                </td>
                <td>
                    <!--<input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />-->
                    {{field.name}}
                </td>
                <td>
                    <!--<input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />-->
                    {{field.price}}
                </td>
                <td>
                    <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    <button class="btn btn-default" type="submit">Save</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>