<div>
    <admin-header></admin-header>
</div>
<div class='panel panel-primary'>
    <div class='panel-heading'>
        Hierarchal Grid Sample
    </div>
    <br />
    <div class='panel-body'>
        <table class="table table-hover table-striped table-sortable" *ngIf='depts ; else loadingScreen;'>
            <thead>
                <tr>
                    <th></th>
                    <th>Dept Name</th>
                </tr>
            </thead>
            <tbody *ngFor="let row of depts; let i = index">
                <tr>
                    <td>
                        <button style="width: 20px;" type="button" color="primary" md-button (click)="toggleElement(i, row)" *ngIf="row.IsShow">-</button>
                        <button style="width: 20px;" type="button" color="primary" md-button (click)="toggleElement(i, row)" *ngIf="!row.IsShow">+</button>
                        <!--<button style="width: 20px;" type="button" color="primary" md-button (click)="emp.expanded = true">+</button>-->
                    </td>
                    <td>{{ row.DeptName }}</td>
                </tr>
                <tr [hidden]="!row.IsShow">
                    <td colspan="2">
                        <table>
                            <thead>
                                <tr>
                                    <th>Emp Name</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let emp of row.Employees">
                                <tr>
                                    <td>{{ emp.EmpName }}</td>
                                    <td>{{ emp.Salary }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #loadingScreen>
            <div class="alert alert-info" role="alert">
                <md-progress-spinner mode="indeterminate" style="width:50px; height:50px"></md-progress-spinner>loading...
            </div>
        </ng-template>
    </div>
</div>